In [1]:
import pandas as pd
import numpy as np

In [2]:
# 1. Importez le fichier de données “coeur” dans dans votre notebook à l’aide de pandas et stockez le dans un objet appelé “data”.
data =pd.read_excel('Coeur.xlsx')
data

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140.0,289.0,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160.0,180.0,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130.0,283.0,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138.0,214.0,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150.0,195.0,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,homme,AT,NaN,264.0,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,NaN,193.0,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,NaN,131.0,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,NaN,236.0,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,NaN,175.0,0,Normal,173,Non,0.0,Ascendant,0

In [3]:
# 2. Faites une copie de l’objet “data” dans un nouvel objet appelé “df”.
df=data

In [4]:
# 3. Affichez le type de l’objet “df”
type(df)

pandas.core.frame.DataFrame

In [5]:
# 4. Affichez les 10 premières lignes de “df”
df.head(10)

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140.0,289.0,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160.0,180.0,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130.0,283.0,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138.0,214.0,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150.0,195.0,0,Normal,122,Non,0.0,Ascendant,0
5,39,homme,DNA,120.0,339.0,0,Normal,170,Non,0.0,Ascendant,0
6,45,femme,AA,130.0,237.0,0,Normal,170,Non,0.0,Ascendant,0
7,54,homme,AA,110.0,208.0,0,Normal,142,NaN,0.0,Ascendant,0
8,37,homme,ASY,140.0,207.0,0,NaN,130,Oui,1.5,Plat,1
9,48,femme,AA,120.0,284.0,0,Normal,120,Non,0.0,Ascendant,0

In [6]:
# 5. Affichez les 10 dernières lignes de “df”
df.tail(10)

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
908,63,homme,ASY,140.0,187.0,0,LVH,144,Oui,4.0,Ascendant,1
909,63,femme,ASY,124.0,197.0,0,Normal,136,Oui,0.0,Plat,1
910,41,homme,AA,120.0,157.0,0,Normal,182,Non,0.0,Ascendant,0
911,59,homme,ASY,164.0,176.0,1,LVH,90,Non,1.0,Plat,1
912,57,femme,ASY,140.0,241.0,0,Normal,123,Oui,0.2,Plat,1
913,45,homme,AT,NaN,264.0,0,Normal,132,Non,1.2,Plat,1
914,68,homme,ASY,NaN,193.0,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,NaN,131.0,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,NaN,236.0,0,LVH,174,Non,0.0,Plat,1
917,38,homme,DNA,NaN,175.0,0,Normal,173,Non,0.0,Ascendant,0

In [7]:
# 6. Affichez le nombre de lignes et de colonnes de “df”
df.shape

(918, 12)

In [8]:
# 7. Affichez le nombre de dimensions de “df”
df.ndim

2

In [9]:
# 8. Affichez la liste des colonnes de “df”
df.columns

Index(['AGE', 'SEXE', 'TDT', 'PAR', 'CHOLESTEROL', 'GAJ', 'ECG', 'FCMAX',
       'ANGINE', 'DEPRESSION', 'PENTE', 'CŒUR'],
      dtype='object')

In [10]:
# 9. Affichez le type de chaque colonne de “df”
df.dtypes

AGE              int64
SEXE            object
TDT             object
PAR            float64
CHOLESTEROL    float64
GAJ              int64
ECG             object
FCMAX            int64
ANGINE          object
DEPRESSION     float64
PENTE           object
CŒUR             int64
dtype: object

In [11]:
# 10. Afficher les statistiques descriptives des variables qui sont dans “df”
df.describe()

,AGE,PAR,CHOLESTEROL,GAJ,FCMAX,DEPRESSION,CŒUR
count,918.000000,913.000000,917.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.407448,198.823337,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.544767,109.441463,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.000000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [16]:
# 11. Afficher les 4 premières variables et les 10 premières lignes de “df”
print(df[['AGE','SEXE','TDT','PAR']].head(10))

   AGE   SEXE  TDT    PAR
0   40  homme   AA  140.0
1   49  femme  DNA  160.0
2   37  homme   AA  130.0
3   48  femme  ASY  138.0
4   54  homme  DNA  150.0
5   39  homme  DNA  120.0
6   45  femme   AA  130.0
7   54  homme   AA  110.0
8   37  homme  ASY  140.0
9   48  femme   AA  120.0

In [20]:
# 12. Afficher les personnes qui ont plus de 50 ans
df[df['AGE']>50]

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
4,54,homme,DNA,150.0,195.0,0,Normal,122,Non,0.0,Ascendant,0
7,54,homme,AA,110.0,208.0,0,Normal,142,NaN,0.0,Ascendant,0
11,58,homme,AA,136.0,164.0,0,ST,99,Oui,2.0,Plat,1
15,54,femme,AA,120.0,273.0,0,Normal,150,Non,1.5,Plat,0
18,60,homme,ASY,100.0,248.0,0,NaN,125,Non,1.0,Plat,1
...,...,...,...,...,...,...,...,...,...,...,...,...
911,59,homme,ASY,164.0,176.0,1,LVH,90,Non,1.0,Plat,1
912,57,femme,ASY,140.0,241.0,0,Normal,123,Oui,0.2,Plat,1
914,68,homme,ASY,NaN,193.0,1,Normal,141,Non,3.4,Plat,1
915,57,homme,ASY,NaN,131.0,0,Normal,115,Oui,1.2,Plat,1
916,57,femme,AA,NaN,236.0,0,LVH,174,Non,0.0,Plat,1

In [26]:
# 13. Afficher les personnes de plus de 50 ans de sexe féminin
df[(df['AGE']> 50) & (df['SEXE']=='femme')]

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
15,54,femme,AA,120.0,273.0,0,Normal,150,Non,1.5,Plat,0
28,53,femme,AA,113.0,468.0,0,Normal,127,Non,0.0,Ascendant,0
40,54,femme,AA,150.0,230.0,0,Normal,130,Non,0.0,Ascendant,0
41,54,femme,DNA,130.0,294.0,0,ST,100,Oui,0.0,Plat,1
54,52,femme,ASY,130.0,180.0,0,Normal,140,Oui,1.5,Plat,0
...,...,...,...,...,...,...,...,...,...,...,...,...
901,58,femme,ASY,170.0,225.0,1,LVH,146,Oui,2.8,Plat,1
906,55,femme,AA,132.0,342.0,0,Normal,166,Non,1.2,Ascendant,0
909,63,femme,ASY,124.0,197.0,0,Normal,136,Oui,0.0,Plat,1
912,57,femme,ASY,140.0,241.0,0,Normal,123,Oui,0.2,Plat,1
916,57,femme,AA,NaN,236.0,0,LVH,174,Non,0.0,Plat,1

In [27]:
# 14. Afficher les personnes de plus de 50 ans de sexe féminin qui ont une maladie cardiaque
df[(df['AGE']>50) & (df['SEXE']=='femme') & (df['CŒUR']==1) ]

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
41,54,femme,DNA,130.0,294.0,0,ST,100,Oui,0.0,Plat,1
117,59,femme,ASY,130.0,338.0,1,ST,130,Oui,1.5,Plat,1
123,58,femme,AA,180.0,393.0,0,Normal,110,Oui,1.0,Plat,1
144,56,femme,AA,120.0,279.0,0,Normal,150,Non,1.0,Plat,1
221,51,femme,ASY,160.0,303.0,0,Normal,150,Oui,1.0,Plat,1
303,62,femme,ASY,120.0,0.0,1,ST,123,Oui,1.7,Descendant,1
305,51,femme,ASY,120.0,0.0,1,Normal,127,Oui,1.5,Ascendant,1
339,64,femme,ASY,95.0,0.0,1,Normal,145,Non,1.1,Descendant,1
365,64,femme,ASY,200.0,0.0,0,Normal,140,Oui,1.0,Plat,1
375,73,femme,DNA,160.0,0.0,0,ST,121,Non,0.0,Ascendant,1
396,62,femme,AT,140.0,0.0,1,Normal,143,Non,0.0,Plat,1
415,66,femme,ASY,155.0,0.0,1,Normal,90,Non,0.0,Plat,1
495,64,femme,ASY,142.0,276.0,0,Normal,140,Oui,1.0,Plat,1
542,54,femme,ASY,138.0,274.0,0,Normal,105,Oui,1.5,Plat,1
610,54,femme,ASY,127.0,333.0,1,ST,154,Non,0.0,Plat,1
624,63,femme,ASY,150.0,407.0,0,LVH,154,Non,4.0,Plat,1
664,65,femme,ASY,150.0,225.0,0,LVH,114,Non,1.0,Plat,1
673,59,femme,ASY,174.0,249.0,0,Normal,143,Oui,0.0,Plat,1
676,51,femme,ASY,130.0,305.0,0,Normal,142,Oui,1.2,Plat,1
682,58,femme,AA,136.0,319.0,1,LVH,152,Non,0.0,Ascendant,1
706,61,femme,ASY,130.0,330.0,0,LVH,169,Non,0.0,Ascendant,1
722,60,femme,ASY,150.0,258.0,0,LVH,157,Non,2.6,Plat,1
725,55,femme,ASY,180.0,327.0,0,ST,117,Oui,3.4,Plat,1
727,60,femme,ASY,158.0,305.0,0,LVH,161,Non,0.0,Ascendant,1
732,56,femme,ASY,200.0,288.0,1,LVH,133,Oui,4.0,Descendant,1
745,63,femme,ASY,108.0,269.0,0,Normal,169,Oui,1.8,Plat,1
774,66,femme,ASY,178.0,228.0,1,Normal,165,Oui,1.0,Plat,1
776,62,femme,ASY,150.0,244.0,0,Normal,154,Oui,1.4,Plat,1
790,62,femme,ASY,138.0,294.0,1,Normal,106,Non,1.9,Plat,1
796,56,femme,ASY,134.0,409.0,0,LVH,150,Oui,1.9,Plat,1
841,62,femme,DNA,130.0,263.0,0,Normal,97,Non,1.2,Plat,1
845,61,femme,ASY,145.0,307.0,0,LVH,146,Oui,1.0,Plat,1
850,62,femme,ASY,160.0,164.0,0,LVH,145,Non,6.2,Descendant,1
858,62,femme,ASY,140.0,268.0,0,LVH,160,Non,3.6,Descendant,1
897,55,femme,ASY,128.0,205.0,0,ST,130,Oui,2.0,Plat,1
901,58,femme,ASY,170.0,225.0,1,LVH,146,Oui,2.8,Plat,1
909,63,femme,ASY,124.0,197.0,0,Normal,136,Oui,0.0,Plat,1
912,57,femme,ASY,140.0,241.0,0,Normal,123,Oui,0.2,Plat,1
916,57,femme,AA,NaN,236.0,0,LVH,174,Non,0.0,Plat,1

In [30]:
#15.Vérifier si une donnée est manquante
df.isna()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
913,False,False,False,True,False,False,False,False,False,False,False,False
914,False,False,False,True,False,False,False,False,False,False,False,False
915,False,False,False,True,False,False,False,False,False,False,False,False
916,False,False,False,True,False,False,False,False,False,False,False,False
917,False,False,False,True,False,False,False,False,False,False,False,False

In [31]:
# 16. Supprimer les données manquantes
df.dropna()

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,homme,AA,140.0,289.0,0,Normal,172,Non,0.0,Ascendant,0
1,49,femme,DNA,160.0,180.0,0,Normal,156,Non,1.0,Plat,1
2,37,homme,AA,130.0,283.0,0,ST,98,Non,0.0,Ascendant,0
3,48,femme,ASY,138.0,214.0,0,Normal,108,Oui,1.5,Plat,1
4,54,homme,DNA,150.0,195.0,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
908,63,homme,ASY,140.0,187.0,0,LVH,144,Oui,4.0,Ascendant,1
909,63,femme,ASY,124.0,197.0,0,Normal,136,Oui,0.0,Plat,1
910,41,homme,AA,120.0,157.0,0,Normal,182,Non,0.0,Ascendant,0
911,59,homme,ASY,164.0,176.0,1,LVH,90,Non,1.0,Plat,1
912,57,femme,ASY,140.0,241.0,0,Normal,123,Oui,0.2,Plat,1

In [32]:
# 17. Recoder la variable sexe (masculin = 0 et féminin = 1)
df['SEXE'] = df['SEXE'].replace(['homme','femme'],[0,1])
df

,AGE,SEXE,TDT,PAR,CHOLESTEROL,GAJ,ECG,FCMAX,ANGINE,DEPRESSION,PENTE,CŒUR
0,40,0,AA,140.0,289.0,0,Normal,172,Non,0.0,Ascendant,0
1,49,1,DNA,160.0,180.0,0,Normal,156,Non,1.0,Plat,1
2,37,0,AA,130.0,283.0,0,ST,98,Non,0.0,Ascendant,0
3,48,1,ASY,138.0,214.0,0,Normal,108,Oui,1.5,Plat,1
4,54,0,DNA,150.0,195.0,0,Normal,122,Non,0.0,Ascendant,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,0,AT,NaN,264.0,0,Normal,132,Non,1.2,Plat,1
914,68,0,ASY,NaN,193.0,1,Normal,141,Non,3.4,Plat,1
915,57,0,ASY,NaN,131.0,0,Normal,115,Oui,1.2,Plat,1
916,57,1,AA,NaN,236.0,0,LVH,174,Non,0.0,Plat,1
917,38,0,DNA,NaN,175.0,0,Normal,173,Non,0.0,Ascendant,0

In [36]:
# 18. Supprimer la variable DEPRESSION et FCMAX
df=df.drop(['DEPRESSION','FCMAX'], axis=1)
df

     AGE  SEXE  TDT    PAR  CHOLESTEROL  GAJ     ECG ANGINE      PENTE  CŒUR
0     40     0   AA  140.0        289.0    0  Normal    Non  Ascendant     0
1     49     1  DNA  160.0        180.0    0  Normal    Non       Plat     1
2     37     0   AA  130.0        283.0    0      ST    Non  Ascendant     0
3     48     1  ASY  138.0        214.0    0  Normal    Oui       Plat     1
4     54     0  DNA  150.0        195.0    0  Normal    Non  Ascendant     0
..   ...   ...  ...    ...          ...  ...     ...    ...        ...   ...
913   45     0   AT    NaN        264.0    0  Normal    Non       Plat     1
914   68     0  ASY    NaN        193.0    1  Normal    Non       Plat     1
915   57     0  ASY    NaN        131.0    0  Normal    Oui       Plat     1
916   57     1   AA    NaN        236.0    0     LVH    Non       Plat     1
917   38     0  DNA    NaN        175.0    0  Normal    Non  Ascendant     0

[918 rows x 10 columns]

In [38]:
# 19. Renommer la variable CHOLESTEROL en CHO
df.rename({'CHOLESTEROL':'CHO'}, axis=1)

     AGE  SEXE  TDT    PAR    CHO  GAJ     ECG ANGINE      PENTE  CŒUR
0     40     0   AA  140.0  289.0    0  Normal    Non  Ascendant     0
1     49     1  DNA  160.0  180.0    0  Normal    Non       Plat     1
2     37     0   AA  130.0  283.0    0      ST    Non  Ascendant     0
3     48     1  ASY  138.0  214.0    0  Normal    Oui       Plat     1
4     54     0  DNA  150.0  195.0    0  Normal    Non  Ascendant     0
..   ...   ...  ...    ...    ...  ...     ...    ...        ...   ...
913   45     0   AT    NaN  264.0    0  Normal    Non       Plat     1
914   68     0  ASY    NaN  193.0    1  Normal    Non       Plat     1
915   57     0  ASY    NaN  131.0    0  Normal    Oui       Plat     1
916   57     1   AA    NaN  236.0    0     LVH    Non       Plat     1
917   38     0  DNA    NaN  175.0    0  Normal    Non  Ascendant     0

[918 rows x 10 columns]